@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header-description {
  color: #091e42;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 496px;
  height: 46px;
}
